.bg-addmember {
  background: rgba(209, 207, 207, 0.762);
  width: 100vw;
  height: 100vh;

  .box-add {
    width: 100%;
    height: 100%;

    .box-add-member {
      width: 500px;
      height: auto;
      background: #fff;
      padding: 15px 20px;
      margin: auto 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;

    }
  }

}