@media (max-width:706px) {
  .list-menu {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;

    .content-menu {


      .content-menu-bottom {
        font-size: 95%;

        .btn-detail {
          margin-top: 5px;
          font-size: 90%;
        }
      }
    }
  }
}


@media (max-width:406.5px) {
  .list-menu {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 5px 3px;
  }
}




@media (max-width:412px) {
  .to-date {
    display: none;
  }
}