.body-order {
  width: 100vw;
  height: 100vh;

  .header-nav-order {
    width: 100%;
    padding: 5px 15px;
    background: #343a40;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .header-profile-order {
      width: 55px;
      height: auto;
    }
  }

  .form-content {

    .content-select {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding-top: 20px;


      select {
        max-width: 500px;
        min-width: 200px;
        border: 2px solid #000;
        margin: 5px 15px;
      }
    }

    .button-send {
      display: block;
      width: 100%;
      padding: 15px 10px;
      position: fixed;
      bottom: 0px;
      font-size: 20px;
      background: rgb(88, 86, 86);
      color: #fff;
      border-top: 0.5px solid rgba(0, 0, 0, 0.54);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 10px 10px 0px 0px;
      transition: all 1.0;
    }

    .btn-active {
      background: #0576f0bf;
      color: #fff;
      transition: all 1.0 ease-in-out;
    }

    .btn-active:hover {
      opacity: 0.9;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
  }

  .header-content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;

      .select-input {
        width: 200px;
      }

      .search-input {
        width: 200px;
      }
    }
  }

  .list-menu-order {
    padding: 0px 20px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px 10px;



    .content-menu {
      // width: 250px;
      // margin: 10px 15px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
      position: relative;

      .img_menu {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0px 0px;
      }

      .content-menu-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px 8px;
        background: #ffff;
        border: 0.5px solid rgba(0, 0, 0, 0.358);
        border-radius: 0px 0px 10px 10px;
      }

      .count {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 2;
        color: #343a40;
        background: #fff;
        padding: 5px;
        border-radius: 8px;
      }

    }
  }

  .brand {
    position: fixed;
    bottom: 10px;
    right: 25px;

    div {
      position: relative;

      .text-count {
        position: absolute;
        right: -3px;
        top: -6px;
        /* font-size: 15px; */
        background: #000;
        border-radius: 50%;
        padding: 0px 7px;
        color: #fff;


      }

      .shop_order {
        border: none;
        background: rgba(240, 198, 9, 0.971);
        border-radius: 50%;
        padding: 10px;
        z-index: 10;
        transition: all 1.0;

        .icon-brand {
          width: 55px;
          height: 55px;
        }
      }

      .shop_order:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }



  }

  .send-to-manage {
    // position: fixed;
    // bottom: 0px;
    // width: 100%;
    // z-index: 10;
    // // height: px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #343a40;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


    div {
      max-width: 900px;
      min-width: 240px;

      .note {
        height: 40px;
      }
    }

  }


  @media (max-width:1085.5px) {
    .send-to-manage {
      justify-content: center;
      padding: 10px 5px;
    }
  }

  @media (max-width: 715.5px) {
    .list-menu-order {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px;
    }
  }

  @media (max-width:495.5px) {
    .header-content {


      div {
        justify-content: center;

        .select-input {
          width: 90%;
        }

        .search-input {
          width: 90%;
        }
      }
    }
  }

  @media (max-width: 350.5px) {
    .list-menu-order {
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
      // gap: 10px;
    }
  }

}