@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Condensed&display=swap");
html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.bg-login {
  background-image: url("../img/bg_restaurant.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
  width: 100vw;
  height: 100vh;
}

.bg-login .logo-login {
  width: 80px;
}

.bg-login .text-pachaew {
  font-family: 'Kanit', sans-serif;
}

.bg-login .padding-card-login {
  padding: 20px 5px;
  border-radius: 10%;
}

.border-report {
  border-radius: 10px;
  margin: 10px 0px;
}

.set-input {
  border: 1;
  border-radius: 5px;
  padding: 2px 10px;
}

.barChart {
  width: 100%;
  height: auto;
}

.bg-order-set {
  padding: 10px 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.bg-order-set .order-menu {
  height: 340px;
  overflow-y: auto;
}

.bg-order-set .fixed-footer-order {
  position: absolute;
  bottom: 0;
  left: 7px;
  width: 100%;
  border-top: 0.5px solid rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content-top .search_listmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-menu {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-menu .content-menu {
  background: #ffff;
  width: 250px;
  margin: 10px 15px;
}

.list-menu .content-menu .img_menu {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.list-menu .content-menu .content-menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 8px;
  background: #ffff;
  border: 0.5px solid rgba(0, 0, 0, 0.358);
  border-radius: 0px 0px 10px 10px;
}

.content-detail-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px;
  margin: 5px;
}

.content-detail-top button {
  padding: 5px 25px;
}

.content-detail-bottom {
  padding: 10px;
  margin: 10px 5px;
}

.content-detail-bottom .content-detail-inbottom-top {
  background: #343a40;
  border-radius: 10px 10px 0px 0px;
}

.content-detail-bottom .content-detail-inbottom-top p {
  padding: 10px;
  margin: 5px 5px;
}

.content-detail-bottom .content-detail-inbottom-top .setborder-dropdown {
  padding: 10px 15px;
  border-left: 2px solid #fff;
}

.content-detail-bottom .content-detail-inbottom-top .setborder-dropdown .i-icon {
  cursor: pointer;
  color: #fff;
}

.content-detail-bottom .content-detail-inbottom-bottom {
  background: #fff;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row1 {
  border-right: 0.5px solid rgba(0, 0, 0, 0.293);
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row1 .content-in-row1 {
  padding: 15px;
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row1 .content-in-row1 .image-product {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row2 .content-in-row2 {
  padding: 15px;
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row2 .content-in-row2 .text-detail {
  height: 150px;
  width: 100%;
}

.profile_member {
  width: 60px;
  height: auto;
}

.profile_member_edit {
  width: 100px;
  height: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px !important;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px !important;
  border-radius: 50%;
}

.font-five {
  font-weight: 500 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-addmember {
  background: rgba(209, 207, 207, 0.762);
  width: 100vw;
  height: 100vh;
}

.bg-addmember .box-add {
  width: 100%;
  height: 100%;
}

.bg-addmember .box-add .box-add-member {
  width: 500px;
  height: auto;
  background: #fff;
  padding: 15px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.body-order {
  width: 100vw;
  height: 100vh;
}

.body-order .header-nav-order {
  width: 100%;
  padding: 5px 15px;
  background: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-order .header-nav-order .header-profile-order {
  width: 55px;
  height: auto;
}

.body-order .content-select {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.body-order .content-select select {
  max-width: 500px;
  min-width: 250px;
  border: 2px solid #000;
  margin: 5px 15px;
}

.body-order .button-send {
  display: block;
  width: 100%;
  padding: 15px 10px;
  position: fixed;
  bottom: 0px;
  font-size: 20px;
  background: #585656;
  color: #fff;
  border-top: 0.5px solid rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px 10px 0px 0px;
  -webkit-transition: all 1.0;
  transition: all 1.0;
}

.body-order .btn-active {
  background: #0576f0bf;
  color: #fff;
  -webkit-transition: all 1.0 ease-in-out;
  transition: all 1.0 ease-in-out;
}

.body-order .btn-active:hover {
  opacity: 0.9;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/*# sourceMappingURL=management.css.map */