@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Condensed&display=swap");
html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.bg-login {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
  width: 100vw;
  height: 100vh;
}

.bg-login .logo-login {
  width: 80px;
}

.bg-login .text-pachaew {
  font-family: 'Kanit', sans-serif;
}

.bg-login .padding-card-login {
  padding: 20px 5px;
  border-radius: 10%;
}

.border-report {
  border-radius: 10px;
  margin: 10px 0px;
}

.set-input {
  border: 1;
  border-radius: 5px;
  padding: 2px 10px;
}

.barChart {
  width: 100%;
  height: auto;
}

.bg-order-set {
  padding: 10px 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.bg-order-set .order-menu {
  height: 340px;
  overflow-y: auto;
}

.bg-order-set .fixed-footer-order {
  position: absolute;
  bottom: 0;
  left: 7px;
  width: 100%;
  border-top: 0.5px solid rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content-top .search_listmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-menu {
  margin: 20px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.list-menu .content-menu {
  overflow: hidden;
  max-width: 750px;
}

.list-menu .content-menu .img_menu {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.list-menu .content-menu .content-menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 8px;
  background: #ffff;
  border: 0.5px solid rgba(0, 0, 0, 0.358);
  border-radius: 0px 0px 10px 10px;
}

.list-menu-set {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-menu-set .content-menu {
  overflow: hidden;
  margin: 5px;
  border-radius: 10px;
  position: relative;
}

.list-menu-set .content-menu .img_menu {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.list-menu-set .content-menu .content-menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 8px;
  background: #ffff;
  border: 0.5px solid rgba(0, 0, 0, 0.358);
  border-radius: 0px 0px 10px 10px;
}

.content-detail-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px;
  margin: 5px;
}

.content-detail-top button {
  padding: 5px 25px;
}

.content-detail-bottom {
  padding: 10px;
  margin: 10px 5px;
}

.content-detail-bottom .content-detail-inbottom-top {
  background: #343a40;
  border-radius: 10px 10px 0px 0px;
}

.content-detail-bottom .content-detail-inbottom-top p {
  padding: 10px;
  margin: 5px 5px;
}

.content-detail-bottom .content-detail-inbottom-top .setborder-dropdown {
  padding: 10px 15px;
  border-left: 2px solid #fff;
}

.content-detail-bottom .content-detail-inbottom-top .setborder-dropdown .i-icon {
  cursor: pointer;
  color: #fff;
}

.content-detail-bottom .content-detail-inbottom-bottom {
  background: #fff;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row1 {
  border-right: 0.5px solid rgba(0, 0, 0, 0.293);
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row1 .content-in-row1 {
  padding: 15px;
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row1 .content-in-row1 .image-product {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row2 .content-in-row2 {
  padding: 15px;
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row2 .content-in-row2 .text-detail {
  height: 150px;
  width: 100%;
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row2 .content-in-row2 .change_bg {
  max-width: 100%;
  height: auto;
}

.content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row2 .content-in-row2 .change_logo {
  width: 100px;
  height: auto;
}

@media (max-width: 1199.5px) {
  .content-detail-bottom .content-detail-inbottom-bottom .row-content-detail .content-row1 {
    border-right: 0px solid rgba(0, 0, 0, 0.293);
  }
}

.box-slide {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.158);
}

.box-slide .image .profile_slidebar {
  width: 50px;
  height: 50px;
}

.profile_slidebar {
  width: 55px;
  height: 55px;
}

.profile_member {
  width: 75px;
  height: 75px;
}

.profile_member_edit {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px !important;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px !important;
  border-radius: 50%;
}

.set-content {
  height: auto !important;
  position: relative;
}

.set-content .setfooter {
  min-height: 60px !important;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.font-five {
  font-weight: 500 !important;
}

.font-titel {
  font-size: 120%;
}

.font-detail {
  font-size: 110%;
}

@media (max-width: 750px) {
  .font-titel {
    font-size: 100% !important;
  }
  .font-detail {
    font-size: 90% !important;
  }
}

@media (max-width: 550px) {
  .font-titel {
    font-size: 95%;
  }
  .font-detail {
    font-size: 85%;
  }
}

@media (max-width: 350px) {
  .font-titel {
    font-size: 90%;
  }
  .font-detail {
    font-size: 80%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.bg-addmember {
  background: rgba(209, 207, 207, 0.762);
  width: 100vw;
  height: 100vh;
}

.bg-addmember .box-add {
  width: 100%;
  height: 100%;
}

.bg-addmember .box-add .box-add-member {
  width: 500px;
  height: auto;
  background: #fff;
  padding: 15px 20px;
  margin: auto 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.body-order {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

.body-order .header-nav-order {
  width: 100%;
  padding: 10px 20px;
  background: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-order .header-nav-order .header-profile-order {
  width: 55px;
  height: auto;
}

.body-order .form-content .content-select {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.body-order .form-content .content-select select {
  max-width: 500px;
  min-width: 200px;
  border: 2px solid #000;
  margin: 5px 15px;
}

.body-order .form-content .button-send {
  display: block;
  width: 100%;
  padding: 15px 10px;
  position: fixed;
  bottom: 0px;
  font-size: 20px;
  background: #585656;
  color: #fff;
  border-top: 0.5px solid rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px 10px 0px 0px;
  -webkit-transition: all 1.0;
  transition: all 1.0;
}

.body-order .form-content .btn-active {
  background: #0576f0bf;
  color: #fff;
  -webkit-transition: all 1.0 ease-in-out;
  transition: all 1.0 ease-in-out;
}

.body-order .form-content .btn-active:hover {
  opacity: 0.9;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.body-order .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-order .header-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.body-order .header-content div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.body-order .header-content div form .select-input {
  width: 200px;
}

.body-order .header-content div form .search-input {
  width: 200px;
}

.body-order .list-menu-order {
  padding: 0px 20px;
  padding-bottom: 15px;
  padding-right: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px 10px;
}

.body-order .list-menu-order .content-menu {
  border-radius: 10px;
  position: relative;
}

.body-order .list-menu-order .content-menu .img_menu {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.body-order .list-menu-order .content-menu .content-menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 8px;
  background: #ffff;
  border: 0.5px solid rgba(0, 0, 0, 0.358);
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.body-order .list-menu-order .content-menu .count {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  color: #343a40;
  background: #fff;
  padding: 5px;
  border-radius: 8px;
}

.body-order .list-menu-order-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  padding-bottom: 15px;
  padding-right: 30px;
}

.body-order .list-menu-order-set .content-menu {
  margin: 5px;
  border-radius: 10px;
  position: relative;
}

.body-order .list-menu-order-set .content-menu .img_menu {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.body-order .list-menu-order-set .content-menu .content-menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 8px;
  background: #ffff;
  border: 0.5px solid rgba(0, 0, 0, 0.358);
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.body-order .list-menu-order-set .content-menu .count {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
  color: #343a40;
  background: #fff;
  padding: 5px;
  border-radius: 8px;
}

.body-order .brand {
  position: fixed;
  bottom: 10px;
  right: 25px;
}

.body-order .brand div {
  position: relative;
}

.body-order .brand div .text-count {
  position: absolute;
  right: -3px;
  top: -6px;
  /* font-size: 15px; */
  background: #000;
  border-radius: 50%;
  padding: 0px 7px;
  color: #fff;
}

.body-order .brand div .shop_order {
  border: none;
  background: rgba(240, 198, 9, 0.971);
  border-radius: 50%;
  padding: 10px;
  z-index: 10;
  -webkit-transition: all 1.0;
  transition: all 1.0;
}

.body-order .brand div .shop_order .icon-brand {
  width: 55px;
  height: 55px;
}

.body-order .brand div .shop_order:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.body-order .send-to-manage {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #343a40;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.body-order .send-to-manage div {
  max-width: 900px;
  min-width: 240px;
}

.body-order .send-to-manage div .note {
  height: 40px;
}

@media (max-width: 1121.5px) {
  .body-order .list-menu-order-set {
    padding: 0px 20px;
    padding-bottom: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  .body-order .list-menu-order-set .content-menu {
    margin: 0;
  }
}

@media (max-width: 1085.5px) {
  .body-order .send-to-manage {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 5px;
  }
}

@media (max-width: 869.5px) {
  .body-order .list-menu-order {
    -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 10px;
  }
  .body-order .list-menu-order .content-menu .img_menu {
    height: 170px;
  }
  .body-order .list-menu-order-set {
    -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 10px;
  }
  .body-order .list-menu-order-set .content-menu .img_menu {
    height: 170px;
  }
}

@media (max-width: 570.5px) {
  .body-order .list-menu-order {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
  .body-order .list-menu-order .content-menu .img_menu {
    height: 150px;
  }
  .body-order .list-menu-order-set {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
  .body-order .list-menu-order-set .content-menu .img_menu {
    height: 150px;
  }
}

@media (max-width: 495.5px) {
  .body-order .header-content div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-order .header-content div form .select-input {
    width: 95%;
  }
  .body-order .header-content div form .search-input {
    width: 95%;
  }
  .body-order .list-menu-order {
    -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 10px;
  }
  .body-order .list-menu-order .content-menu .img_menu {
    height: 130px;
  }
  .body-order .list-menu-order-set {
    -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 10px;
  }
  .body-order .list-menu-order-set .content-menu .img_menu {
    height: 130px;
  }
}

@media (max-width: 350.5px) {
  .body-order .list-menu-order {
    -ms-grid-columns: (minmax(115px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    gap: 10px;
  }
  .body-order .list-menu-order .content-menu .img_menu {
    height: 115px;
  }
  .body-order .list-menu-order-set {
    -ms-grid-columns: (minmax(115px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    gap: 10px;
  }
  .body-order .list-menu-order-set .content-menu .img_menu {
    height: 115px;
  }
}

@media (max-width: 1395px) {
  .list-menu-set {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
  }
  .list-menu-set .content-menu {
    margin: 0;
  }
  .list-menu-set .content-menu .img_menu {
    height: 200px;
  }
  .list-menu-set .content-menu .content-menu-bottom {
    font-size: 95%;
  }
  .list-menu-set .content-menu .content-menu-bottom .btn-detail {
    margin-top: 5px;
    font-size: 90%;
  }
}

@media (max-width: 706px) {
  .list-menu {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
  }
  .list-menu .content-menu .img_menu {
    height: 170px;
  }
  .list-menu .content-menu .content-menu-bottom {
    font-size: 95%;
  }
  .list-menu .content-menu .content-menu-bottom .btn-detail {
    margin-top: 5px;
    font-size: 90%;
  }
  .list-menu-set {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
  }
  .list-menu-set .content-menu .img_menu {
    height: 170px;
  }
  .list-menu-set .content-menu .content-menu-bottom {
    font-size: 95%;
  }
  .list-menu-set .content-menu .content-menu-bottom .btn-detail {
    margin-top: 5px;
    font-size: 90%;
  }
}

@media (max-width: 507.5px) {
  .list-menu {
    -ms-grid-columns: (minmax(135px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  }
  .list-menu .content-menu .img_menu {
    height: 140px;
  }
  .list-menu-set {
    -ms-grid-columns: (minmax(135px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  }
  .list-menu-set .content-menu .img_menu {
    height: 140px;
  }
}

@media (max-width: 406.5px) {
  .list-menu {
    -ms-grid-columns: (minmax(115px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  }
  .list-menu .content-menu .img_menu {
    height: 115px;
  }
  .list-menu-set {
    -ms-grid-columns: (minmax(115px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  }
  .list-menu-set .content-menu .img_menu {
    height: 115px;
  }
}

@media (max-width: 412px) {
  .to-date {
    display: none;
  }
}

.bg-home {
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background: #d3cdcd76;
}

.bg-home .header_nav {
  width: 100%;
  height: auto;
  position: relative;
}

.bg-home .header_nav .navbar {
  overflow: hidden;
  width: 100%;
  height: 100px;
  background: #343A40;
  padding: 0;
  position: relative;
}

.bg-home .header_nav .navbar a {
  padding: 10px 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar a img {
  max-width: 75px;
}

.bg-home .header_nav .navbar ul {
  padding: 10px 15px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-home .header_nav .navbar ul li {
  font-size: 18px;
  margin: 0 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-home .header_nav .navbar ul li p {
  margin-bottom: 0;
  text-decoration: none;
  color: #ffff;
  cursor: pointer;
}

.bg-home .header_nav .navbar ul li span {
  border-radius: 15px;
  width: 78px;
  height: 4px;
  background-color: #fff;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 384px;
  -webkit-box-shadow: #fff 10px -15px 80px 20px;
          box-shadow: #fff 10px -15px 80px 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar ul li .login {
  background-color: #fff;
  text-decoration: none;
  color: #343A40;
  padding: 3px 10px;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar ul li .login:hover {
  color: #fff;
  background: #343A40;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
          box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
}

.bg-home .header_nav .navbar ul li #nav1:hover {
  font-size: 105%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar ul li #nav2:hover {
  font-size: 105%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar ul li #nav3:hover {
  font-size: 105%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar div {
  display: none;
}

.bg-home .header_nav .nav_respone {
  display: none;
}

.bg-home .content_index {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.bg-home .content_index .in_content_index {
  background-color: rgba(255, 255, 255, 0);
  margin: 0 !important;
  padding: 5px !important;
  border: 0px;
}

.bg-home .content_index .in_content_index .content {
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
}

.bg-home .content_index .in_content_index .content .image img {
  height: 100%;
}

.bg-home .content_index .in_content_index .content .detail_box .detail a {
  text-decoration: none;
  color: #343A40;
}

.bg-home .contect {
  height: 100%;
}

.bg-home .contect .box-email {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), color-stop(10.42%, rgba(249, 249, 249, 0.96875)), to(rgba(53, 44, 44, 0)));
  background: linear-gradient(180deg, #FDFDFD 0%, rgba(249, 249, 249, 0.96875) 10.42%, rgba(53, 44, 44, 0) 100%);
  max-width: 556px;
  padding: 15px 25px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-home .contect .box-email .form_email {
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-home .footer_web {
  width: 100%;
  border-radius: 77px 0px 0px 0px;
  height: 70px;
  padding: 15px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #343A40;
  position: static;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

@media (max-width: 1199px) {
  .bg-home .box_hidden-setfooter {
    height: 100px;
    display: none;
  }
}

@media (max-width: 763.5px) {
  .bg-home .content_index {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .bg-home .content_index .in_content_index .content .image {
    max-height: 250px;
  }
  .bg-home .content_index .in_content_index .content .image img {
    height: 100%;
    width: 100%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .titel {
    font-size: 90%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .text_detail {
    font-size: 90%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p {
    font-size: 90%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p small {
    font-size: 90%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail a {
    font-size: 90%;
  }
  .bg-home .footer_web p {
    font-size: 90%;
  }
}

@media (max-width: 605px) {
  .bg-home .header_nav .navbar {
    height: 75px;
  }
  .bg-home .header_nav .navbar a img {
    max-width: 55px;
  }
  .bg-home .header_nav .navbar ul {
    display: none;
  }
  .bg-home .header_nav .navbar div {
    display: block;
    padding: 10px 20px;
    height: 50px;
  }
  .bg-home .header_nav .navbar div .toggle_nav {
    height: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
  }
  .bg-home .header_nav .navbar div .toggle_nav span {
    display: block;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
    margin: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .bg-home .header_nav .navbar div .toggle_nav.active {
    height: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
  }
  .bg-home .header_nav .navbar div .toggle_nav.active span:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
  .bg-home .header_nav .navbar div .toggle_nav.active span:nth-child(2) {
    opacity: 0;
  }
  .bg-home .header_nav .navbar div .toggle_nav.active span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }
  .bg-home .header_nav .nav_respone {
    z-index: 100;
    position: absolute;
    top: 75px;
    display: block;
    padding: 20px;
    overflow: hidden;
    width: 100%;
    background: #343A40;
  }
  .bg-home .header_nav .nav_respone div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bg-home .header_nav .nav_respone div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bg-home .header_nav .nav_respone div ul li {
    list-style: none;
    margin: 5px;
    cursor: pointer;
  }
  .bg-home .header_nav .nav_respone div ul li p {
    color: #fff;
    margin-bottom: 0;
  }
  .bg-home .header_nav .nav_respone div ul li a {
    text-decoration: none;
    color: #fff;
  }
  .bg-home .header_nav .nav_respone div ul li .login {
    background-color: #fff;
    text-decoration: none;
    color: #343A40;
    padding: 3px 20px;
    border-radius: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .bg-home .header_nav .nav_respone div ul li .login:hover {
    color: #fff;
    background: #343A40;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
            box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
  }
}

@media (max-width: 538.5px) {
  .bg-home .content_index {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .bg-home .content_index .in_content_index .content .image {
    max-height: 180px;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .titel {
    font-size: 85%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .text_detail {
    font-size: 85%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p {
    font-size: 85%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p small {
    font-size: 85%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail a {
    font-size: 85%;
  }
  .bg-home .footer_web p {
    font-size: 85%;
  }
}

@media (max-width: 427.5px) {
  .bg-home .content_index {
    -ms-grid-columns: (minmax(185px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  }
  .bg-home .content_index .in_content_index .content .image {
    height: 130px;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .titel {
    font-size: 80%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .text_detail {
    font-size: 80%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p {
    font-size: 80%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p small {
    font-size: 80%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail a {
    font-size: 80%;
  }
}

@media (max-width: 355px) {
  .bg-home .footer_web p {
    font-size: 75%;
  }
}

.bg-home {
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background: #d3cdcd76;
}

.bg-home .header_nav {
  width: 100%;
  height: auto;
  position: relative;
}

.bg-home .header_nav .navbar {
  overflow: hidden;
  width: 100%;
  height: 100px;
  background: #343A40;
  padding: 0;
  position: relative;
}

.bg-home .header_nav .navbar a {
  padding: 10px 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar a img {
  max-width: 75px;
}

.bg-home .header_nav .navbar ul {
  padding: 10px 15px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-home .header_nav .navbar ul li {
  font-size: 18px;
  margin: 0 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-home .header_nav .navbar ul li p {
  margin-bottom: 0;
  text-decoration: none;
  color: #ffff;
  cursor: pointer;
}

.bg-home .header_nav .navbar ul li span {
  border-radius: 15px;
  width: 78px;
  height: 4px;
  background-color: #fff;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 384px;
  -webkit-box-shadow: #fff 10px -15px 80px 20px;
          box-shadow: #fff 10px -15px 80px 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar ul li .login {
  background-color: #fff;
  text-decoration: none;
  color: #343A40;
  padding: 3px 10px;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar ul li .login:hover {
  color: #fff;
  background: #343A40;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
          box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
}

.bg-home .header_nav .navbar ul li #nav1:hover {
  font-size: 105%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar ul li #nav2:hover {
  font-size: 105%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar ul li #nav3:hover {
  font-size: 105%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bg-home .header_nav .navbar div {
  display: none;
}

.bg-home .header_nav .nav_respone {
  display: none;
}

.bg-home .content_index {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.bg-home .content_index .in_content_index {
  background-color: rgba(255, 255, 255, 0);
  margin: 0 !important;
  padding: 5px !important;
  border: 0px;
}

.bg-home .content_index .in_content_index .content {
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
}

.bg-home .content_index .in_content_index .content .image img {
  height: 100%;
}

.bg-home .content_index .in_content_index .content .detail_box .detail a {
  text-decoration: none;
  color: #343A40;
}

.bg-home .contect {
  height: 100%;
}

.bg-home .contect .box-email {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), color-stop(10.42%, rgba(249, 249, 249, 0.96875)), to(rgba(53, 44, 44, 0)));
  background: linear-gradient(180deg, #FDFDFD 0%, rgba(249, 249, 249, 0.96875) 10.42%, rgba(53, 44, 44, 0) 100%);
  max-width: 556px;
  padding: 15px 25px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-home .contect .box-email .form_email {
  width: 100%;
  margin: 0;
  padding: 0;
}

.bg-home .footer_web {
  width: 100%;
  border-radius: 77px 0px 0px 0px;
  height: 70px;
  padding: 15px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #343A40;
  position: static;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

@media (max-width: 1199px) {
  .bg-home .box_hidden-setfooter {
    height: 100px;
    display: none;
  }
}

@media (max-width: 763.5px) {
  .bg-home .content_index {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .bg-home .content_index .in_content_index .content .image {
    max-height: 250px;
  }
  .bg-home .content_index .in_content_index .content .image img {
    height: 100%;
    width: 100%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .titel {
    font-size: 90%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .text_detail {
    font-size: 90%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p {
    font-size: 90%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p small {
    font-size: 90%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail a {
    font-size: 90%;
  }
  .bg-home .footer_web p {
    font-size: 90%;
  }
}

@media (max-width: 605px) {
  .bg-home .header_nav .navbar {
    height: 75px;
  }
  .bg-home .header_nav .navbar a img {
    max-width: 55px;
  }
  .bg-home .header_nav .navbar ul {
    display: none;
  }
  .bg-home .header_nav .navbar div {
    display: block;
    padding: 10px 20px;
    height: 50px;
  }
  .bg-home .header_nav .navbar div .toggle_nav {
    height: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
  }
  .bg-home .header_nav .navbar div .toggle_nav span {
    display: block;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
    margin: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .bg-home .header_nav .navbar div .toggle_nav.active {
    height: 100%;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
  }
  .bg-home .header_nav .navbar div .toggle_nav.active span:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
  .bg-home .header_nav .navbar div .toggle_nav.active span:nth-child(2) {
    opacity: 0;
  }
  .bg-home .header_nav .navbar div .toggle_nav.active span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }
  .bg-home .header_nav .nav_respone {
    z-index: 100;
    position: absolute;
    top: 75px;
    display: block;
    padding: 20px;
    overflow: hidden;
    width: 100%;
    background: #343A40;
  }
  .bg-home .header_nav .nav_respone div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bg-home .header_nav .nav_respone div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bg-home .header_nav .nav_respone div ul li {
    list-style: none;
    margin: 5px;
    cursor: pointer;
  }
  .bg-home .header_nav .nav_respone div ul li p {
    color: #fff;
    margin-bottom: 0;
  }
  .bg-home .header_nav .nav_respone div ul li a {
    text-decoration: none;
    color: #fff;
  }
  .bg-home .header_nav .nav_respone div ul li .login {
    background-color: #fff;
    text-decoration: none;
    color: #343A40;
    padding: 3px 20px;
    border-radius: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .bg-home .header_nav .nav_respone div ul li .login:hover {
    color: #fff;
    background: #343A40;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
            box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
  }
}

@media (max-width: 538.5px) {
  .bg-home .content_index {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .bg-home .content_index .in_content_index .content .image {
    max-height: 180px;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .titel {
    font-size: 85%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .text_detail {
    font-size: 85%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p {
    font-size: 85%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p small {
    font-size: 85%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail a {
    font-size: 85%;
  }
  .bg-home .footer_web p {
    font-size: 85%;
  }
}

@media (max-width: 427.5px) {
  .bg-home .content_index {
    -ms-grid-columns: (minmax(185px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  }
  .bg-home .content_index .in_content_index .content .image {
    height: 130px;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .titel {
    font-size: 80%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail .text_detail {
    font-size: 80%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p {
    font-size: 80%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail p small {
    font-size: 80%;
  }
  .bg-home .content_index .in_content_index .content .detail_box .detail a {
    font-size: 80%;
  }
}

@media (max-width: 355px) {
  .bg-home .footer_web p {
    font-size: 75%;
  }
}
/*# sourceMappingURL=management.css.map */