@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Condensed&display=swap");
html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.bg-login {
  background-image: url("../img/bg_restaurant.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
  width: 100vw;
  height: 100vh;
}

.bg-login .logo-login {
  width: 80px;
}

.bg-login .text-pachaew {
  font-family: 'Kanit', sans-serif;
}

.bg-login .padding-card-login {
  padding: 20px 5px;
  border-radius: 10%;
}

.border-report {
  border-radius: 10px;
  margin: 10px 0px;
}

.set-input {
  border: 1;
  border-radius: 5px;
  padding: 2px 10px;
}

.barChart {
  width: 100%;
  height: auto;
}

.bg-order-set {
  padding: 10px 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.bg-order-set .order-menu {
  height: 340px;
  overflow-y: auto;
}

.bg-order-set .fixed-footer-order {
  position: absolute;
  bottom: 0;
  left: 7px;
  width: 100%;
  border-top: 0.5px solid rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content-top .search_listmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-menu {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-menu .content-menu {
  background: #ffff;
  width: 250px;
  margin: 10px 15px;
}

.list-menu .content-menu .img_menu {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.list-menu .content-menu .content-menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 8px;
  background: #ffff;
  border: 0.5px solid rgba(0, 0, 0, 0.358);
  border-radius: 0px 0px 10px 10px;
}

.content-detail-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.content-detail-top button {
  padding: 5px 25px;
}

.content-detail-bottom {
  padding: 10px;
  margin: 10px 5px;
}

.content-detail-bottom .content-detail-inbottom-top {
  background: #343a40;
  border-radius: 10px 10px 0px 0px;
}

.content-detail-bottom .content-detail-inbottom-top p {
  padding-left: 10px;
}

.content-detail-bottom .content-detail-inbottom-top .setborder-dropdown {
  padding: 10px 15px;
  border-left: 2px solid #fff;
}

.content-detail-bottom .content-detail-inbottom-top .setborder-dropdown .i-icon {
  cursor: pointer;
  color: #fff;
}

.content-detail-bottom .content-detail-inbottom-bottom {
  background: #fff;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.font-five {
  font-weight: 500 !important;
}
/*# sourceMappingURL=management.css.map */